$white: #fff;
$black: #000;

$font: #292f33;
$muted-font: #c5c8ca;

$earthy-brown: #8b4513;
$leaf-green: #3cb371;
$sky-blue: #87ceeb;
$sunlit-gold: #ffd700;
$rich-terra-cotta: #9c661f;
$deep-forest-green: #228b22;
$firebrick: #b22222;
