$white: #fff;
$black: #000;

$font: #292f33;
$muted-font: #c5c8ca;

$background: #717D7E;
$dark-background: #17202A;

$blue: #2d545e;
$dark-blue: #12343b;

$green: #3d7c47;
$yellow: #fbf579;
$red: #cd5554;